POSTGRES_DB=social
POSTGRES_USER=social_user
POSTGRES_PASSWORD=social_password

RUN_MODE=dev
JWT_SECRET=change-me
IMGBB_API_KEY=replace-me
IMGBB_API_URL=https://api.imgbb.com/1/upload
FRONTEND_URL=http://localhost:3000
