RUN_MODE=dev
DB_URL=postgres://social_user:social_password@localhost:5432/social?sslmode=disable
JWT_SECRET=change-me
IMGBB_API_KEY=replace-me
IMGBB_API_URL=https://api.imgbb.com/1/upload
FRONTEND_URL=http://localhost:5173
