.button {
    padding: var(--padding-component-sm);

    border-radius: var(--border-md);
    border: 1px solid;

    outline: none;
    cursor: pointer;
    user-select: none;

    transition: var(--tr-duration);

    &.primary {
        border-color: var(--primary);

        background-color: var(--primary);
        color: var(--white);

        &:hover:not(:disabled) {
            background: var(--primary-hover);
        }
    }

    &.secondary {
        border-color: var(--grey-light);

        background-color: var(--grey-light);
        color: var(--black);

        &:hover:not(:disabled) {
            border-color: var(--grey-light-hover);
            background: var(--grey-light-hover);
        }
    }

    &:disabled {
        opacity: var(--opacity-inactive);
        cursor: not-allowed;
    }
}